.btn-access-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.btn-access {
    width: auto;
    height: 4.5rem;
    background-color: var(--color-green);
    color: var(--color-mint);
    text-transform:uppercase;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.btn-access.blue { 
    background-color: rgb(97, 223, 255);
}

.btn-access:hover {
    background-color: var(--color-lightgreen);
}

.btn-access img {
    margin: 0;
}