.btn-back {
    width: auto;
    height: 4.5rem;
    background-color: var(--color-green);
    color: var(--color-mint);
    text-transform:uppercase;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.btn-back:hover {
    background-color: var(--color-lightgreen);
}

.btn-back img {
    margin: 0;
}