.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4rem;
  

}
.toastMessage {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 15vw;
  background-color: #61dfff;
  color: rgb(253, 253, 253);
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: slideIn 0.6s ease-in-out forwards, fadeOut 6s ease-in-out forwards;
  
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
